.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,.5);
}

.modal-content {
    padding: 20px;
    background: white;
    min-width: 250px;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}